body{
    font: "Raleway" , sans-serif;
    color: rgb(4, 4, 59);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right,#e2d4e8,#d59090);
}

h1{
    font: 600 3.5em 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

button{
    background-color: rgb(82, 50, 50);
    color: aliceblue;
    size: 50em;
    border-radius: 10%;
    box-sizing: 0 0;
}

button:hover{
    background-color: white;
    color: black;
    border: 10px;
}
